.header{
    justify-content: space-between;
    align-items:center;
    padding:60px 0px 40px;

}

.header-logo{
    height:66px;
}

.header-nav-items{
    font-size:18px;
    font-weight: 600;
    margin:0px 20px 0px 36px;
}

.mobile-menu-wrapper {
    position: relative;
}

.mobile-menu{
    position: fixed;
    background-color: var(--bg-black);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    height:100vh;
    width:100vh;
    text-align: left;
    padding:32px;
    top:0px;
    left:0px;
    transition: transform 0.3s ease-in-out 0s;
    z-index: 1;
}

.overlay{
    transform: translateX(0px );
}


.mobile-menu-button-wrapper{
    z-index: 2;
}

.mobile-navbar{
    margin-top: 95px;
    overflow-y:scroll;
    width: 90%;
}

.mobile-nav-item{
    padding:15px;
    margin-bottom: 20px;
    border:1px solid transparent;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--bg-light-gray);
}



